version: '2'
services:
  ${SERVICE_NAME}:
    image: ${IMAGE_PATH}:${APP_VERSION}
    ports:
      - ${UI_PORT}:${PORT}
    environment:
      - NODE_ENV=${NODE_ENV}
    labels:
      io.rancher.scheduler.affinity:host_label: vpc=${UI_NETWORK},group=${UI_NETWORK_GROUP}
      io.rancher.container.pull_image: always
      io.rancher.scheduler.global: 'false'