@use "sass:math";
@import "../../../includes/general";
@import "../../../includes/mixins";
@import "../../../includes/yritysluottoVariables";
@import "../../../includes/debug";

@if ($debug) { 
    @debug $info_content_width;
    @debug "Body width: #{$body_width}";
    @debug "Body height: #{$body_height}";
    @debug "invoice info container: #{$info_content_width}";
    @debug "margin top: #{$header_margin_top}";
    @debug "page: #{$content_width + $content_margin + $content_margin}";
}

body {
    width: $body_width;
    height: $body_height;
    box-sizing: border-box;
    @include backgroundColor(rgb(201, 255, 101), $debug);
}

.page_header_space {
    margin-top: $header_top;
    height: $header_height;
}

.div_table {
    display: table;
    .div_row {
        display: table-row;
        .div_cell {
            display: table-cell;
        }
    }
}

.page_header {
    @include backgroundColor(rgb(244, 68, 250), $debug);
    position: fixed;
    top: $header_top;
    margin: 0 $content_margin;
    width: $content_width;
    height: $header_height;

    .header_row1 {
        height: $header_row1_height;
        width: $logo_width;

        .logo {
            width: $logo_width;
            height: auto;
            display: inline-block;
            margin-top: -13mm;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .company_address {
            margin-left: 6mm;
            display: inline-block;

            p {
                line-height: 1;
                font-size: 0.8em;
            }
        }

        .document_title {
            p {
                text-transform: uppercase;
                font-weight: bold;
                font-size: $font_size_larger;
            }
        }
    }

    .header_row2 {
        height: $header_row2_height;

        .recipient_address p {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.8em;
        }

        .invoice_info {
            width: 100%;
            font-size: $font_size_normal;

            .div_row {
                .div_cell {
                    width: 50%;
                    p {
                        line-height: 1.3;
                    }
                }
                .divCell:last-child {
                    text-align: right;
                }
            }
        }
    }
}

.content_cell {
    width: math.div($content_width, 2);
    vertical-align: top;
}

.banner {
    width: $banner_width;
    height: auto;
    display: inline-block;

    img {
        width: 100%;
        object-fit: contain;
    }
}

.main_content_table {
    @include backgroundColor(rgb(112, 167, 255), $debug);
    width: 100%;

    .div_table {
        width: 100%;

        .div_cell {
            width: 25%;
            p {
                font-size: $font_size_normal;
            }
        }
    }

    .main_content {
        width: $content_width;
        height: $content_height; /* 124.5mm; 128.5 mm */
        margin: 0 $content_margin;

        .invoice_text {
            font-weight: bold;
            font-size: $font_size_normal;
        }

        .specification_table {
            width: 80%;
            margin-top: 5mm;
    
            .specification_title_row {
                border-bottom: 0.5mm solid #000;
                margin-bottom: 3mm;
            }
    
            .specification_title {
                font-weight: bold;
            }
    
            .specification_value_row {
                margin-top: 3mm;
            }
    
            thead tr {
                border-bottom: 1px solid #000;
            }
    
            td {
                padding: 1mm;
            }
    
            tfoot tr {
                border-top: 1px solid #000;
            }
    
            .align_right {
                text-align: right;
            }
    
            .total {
                font-weight: bold;
            }
        }

        .title {
            padding-bottom: 3mm;
        }

        .reference_table {
            width: 80%;
            margin-top: 3mm;
            border: 1px solid rgb(0, 0, 0);

            .div_row {
                .div_cell {
                    width: 34%;
                    padding: 1mm;
                    border-right: 1px solid rgb(0, 0, 0);
                }

                .reference_title {
                    font-size: $font_size_normal-minus;
                }

                .reference_value {
                    font-size: $font_size_larger;
                    font-weight: bolder !important;
                }

                .middle {
                    text-align: center;
                }

                .euros:after {
                    content: ' €';
                }
            }
        }

        .legal_info {
            p {
                font-size: $font_size_smaller;
                margin-top: 4mm;

                &:last-child {
                    margin-bottom: 5mm;
                }
            }
        }

        .faq_info {
            p {
                font-size: $font_size_smaller;
                margin-top: 4mm;
            }
        }
    }

    .transfer_check {
        @include backgroundColor(yellow, $debug);
        width: $transfer_check_width;
        margin: 0 $transfer_check_margin;

        .company_info_footer {
            width: 100%;
            margin: 0 0 3mm 0;

            .div_cell {
                width: 20%;
                text-align: center;
            }

            span {
                font-size: $font_size_normal;
                line-height: 1.2;
                margin-right: 1em;
            }
        }

        .transfer_check_container {
            border-top: 1px solid #999;
            height: 85mm;

            .transfer_check_table {
                width: 100%;
            }

            .header_row {
                border-bottom: 2px solid #000;
                height: 16mm;
            }

            .receiver_row {
                border-bottom: 2px solid #000;
                height: 43mm;

                .receiver_info {
                    border-bottom: 2px solid #000;
                    height: 14mm;
                }

                .payer_info {
                    height: 19mm;
                }

                .signing_info {
                    height: 10mm;
                    padding-bottom: 2mm;

                    .signing_line {
                        width: 80mm;
                        height: 6mm;
                        border-bottom: 1px solid #999;
                    }
                }
            }

            .amount_row {
                height: 8mm;
                border-bottom: 2px solid #000;

                .date_amount_container {
                    > div {
                        float: left;
                        height: 8mm;
                    }

                    .content.date_info {
                        width: 22mm;
                        border-right: 2px solid #000;
                    }

                    .content.date {
                        width: 22mm;
                        border-right: 2px solid #000;
                    }
                }
            }

            .barcode_row {
                .barcode {
                    text-align: center;
                }
            }

            .info_column {
                text-align: right;
                width: $transfer_check_info_column;
            }

            .content_column {
                width: $transfer_check_columns;

                .container {
                    height: 43mm;
                    position: relative;

                    .content.bottom {
                        position: absolute;
                        bottom: 8mm;
                        margin-bottom: 1mm;
                    }
                    .ref_container {
                        position: absolute;
                        bottom: 0px;
                        height: 8mm;
                        width: 100%;
                        border-top: 2px solid #000;
                        > div {
                            float: left;
                            &.info {
                                width: 22mm;
                                border-right: 2px solid #000;
                            }
                        }
                    }
                }
            }

            .border_right {
                border-right: 2px solid #000;
            }
        }

        /* .content {
            padding: 1mm;

            p {
                font-size: $font_size_smaller;
                line-height: 1.2;
            }
            .normal {
                font-size: $font_size_normal;
            }
            .normal_with_margin {
                font-size: $font_size_normal;
                margin-top: 2mm;
            }
        } */
    }
}

.content {
    padding: 1mm;

    p {
        font-size: $font_size_smaller;
        line-height: 1.2;
    }
    .normal {
        font-size: $font_size_normal;
    }
    .normal_with_margin {
        font-size: $font_size_normal;
        margin-top: 2mm;
    }
}

.main_content {
    @include backgroundColor(rgb(97, 224, 203), $debug);
}

.transfer_check {
    @include backgroundColor(rgb(223, 111, 20), $debug);
}

@media print {
    #page1 {
        page-break-after: always;
    }
    /* Page 2 margin fix */
    #page2 {
        margin-top: 0.1mm;
    }
}
