@use "sass:math";
@import "../../../includes/general";
@import "../../../includes/mixins";
@import "../../../includes/flexOnlineVariables";
@import "../../../includes/debug";

@if ($debug) { 
    @debug $info_content_width;
    @debug "Body width: #{$body_width}";
    @debug "Body height: #{$body_height}";
    @debug "invoice info container: #{$info_content_width}";
    @debug "margin top: #{$header_margin_top}";
    @debug "page: #{$content_width + $content_margin + $content_margin}";
}

$primaryColor:#1F5BAA;
$secondaryColor: #12445C;
$darkColor: #2a2a2a;
$pageTitleFontSize:2em;
$blockHeadingFontSize:1.5em;
$bodyTextFontSize:1.2em;

body {
    width: $body_width;
    height: $body_height;
    box-sizing: border-box;
    @include backgroundColor(rgb(201, 255, 101), $debug);
}

.header {
    width:100%;
    margin-bottom: 20mm;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__logo {
        width: 50%;
        height:auto;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
    }
}

.body_text {
    font-size: $bodyTextFontSize;
    color: $darkColor;
    line-height: 1.5;
}
.body_text_amount {
    @extend .body_text;
    font-size: $bodyTextFontSize;
    text-align: right;
}

.body_text_bold {
    @extend .body_text;
    font-weight: bold;
}
.body_text_link {
    @extend .body_text;
    color:rgb(45, 26, 253);
    font-weight: bold;
    text-decoration: underline;
}

.loan_info {
    width: 100%;
    margin-bottom: 15mm;
        &__row{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5mm 0;
    }
}

.overview {
    width: 100%;
    margin-bottom: 15mm;
    &__row {
        display:flex;
        justify-content: space-between;
        margin: 5mm 0;
        text-align: left;
    }
}

.regards_text {
    color: $darkColor;
    margin: 20mm 0 0;
}

.product_text {
    color:$primaryColor;
    font-size: $blockHeadingFontSize;
    margin-top: 10mm;
}
.customerservice_email{
    font-size: 1em;
    color:rgb(45, 26, 253);
    text-decoration: underline;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 8mm;
    &__line {
        width: 100%;
        height:0.5mm;
        background-color: $primaryColor;
        margin: 5mm 0
    }

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 0.8em;
            color:$secondaryColor
        }
    }
}