@use "sass:math";
@import "../../../includes/general";
@import "../../../includes/mixins";
@import "../../../includes/flexOnlineVariables";
@import "../../../includes/debug";

@if ($debug) { 
    @debug $info_content_width;
    @debug "Body width: #{$body_width}";
    @debug "Body height: #{$body_height}";
    @debug "invoice info container: #{$info_content_width}";
    @debug "margin top: #{$header_margin_top}";
    @debug "page: #{$content_width + $content_margin + $content_margin}";
}

$primaryColor:#1F5BAA;
$secondaryColor: #12445C;
$darkColor: #2a2a2a;
$pageTitleFontSize:2em;
$blockHeadingFontSize:1.5em;
$bodyTextFontSize:0.8em;

body {
    width: $body_width;
    height: $body_height;
    box-sizing: border-box;
    @include backgroundColor(rgb(201, 255, 101), $debug);
}

.header {
    margin-bottom: 20mm;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__logo {
        width: 80mm;
        height:auto;
    }
    &__date {
        font-size: $blockHeadingFontSize;
        font-weight: 400;
    }
}

.body_text {
    font-size: $bodyTextFontSize;
    width: 33%;
    color: $darkColor;
}
.body_text_amount {
    @extend .body_text;
    font-size: $bodyTextFontSize;
    text-align: right;
}

.body_text_bold {
    @extend .body_text;
    font-weight: bold;
}

.loan_info {
    width: 100%;
    margin-bottom: 15mm;
    &__heading{
        font-size: $pageTitleFontSize;
        font-weight: bold;
        margin-bottom: 7mm;
        color: $darkColor;
    }
    &__row{
        display:flex;
        justify-content: space-between;
        margin: 5mm 0;
        text-align: left;
    }
}

.overview {
    width: 100%;
    margin-bottom: 15mm;
    &__row {
        display:flex;
        justify-content: space-between;
        margin: 5mm 0;
        text-align: left;
    }
}

.overview_long_text {
    color: $secondaryColor;
    line-height: 1.5;
    margin: 7mm 0;
    text-align: justify;
}
.place_date {
    color: $darkColor;
    font-size: $pageTitleFontSize;
    margin:15mm 0 5mm 0;
    font-weight: 400;
}
.yrlu_text {
    color:$primaryColor;
    font-size: $blockHeadingFontSize;
    font-weight: bold;
    margin-top: 10mm;
}
.asiakaspalvelu_text{
    font-size: $blockHeadingFontSize;
    color: $darkColor;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 8mm;
    &__line {
        width: 100%;
        height:0.5mm;
        background-color: $primaryColor;
        margin: 5mm 0
    }

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: $bodyTextFontSize;
            color:$secondaryColor
        }
    }
}