@use "sass:math";
@import "../../../includes/general";
@import "../../../includes/mixins";
@import "../../../includes/flexOnlineVariables";
@import "../../../includes/debug";

@if ($debug) { 
    @debug $info_content_width;
    @debug "Body width: #{$body_width}";
    @debug "Body height: #{$body_height}";
    @debug "invoice info container: #{$info_content_width}";
    @debug "margin top: #{$header_margin_top}";
    @debug "page: #{$content_width + $content_margin + $content_margin}";
}

body {
    width: $body_width;
    height: $body_height;
    box-sizing: border-box;
    @include backgroundColor(rgb(201, 255, 101), $debug);
}

.page_header_space {
    margin-top: $header_top;
    height: $header_height;
}

.main_table_space {
    margin-top: $main_table_top;
}

.div_table {
    display: table;
    .div_row {
        display: table-row;
        .div_cell {
            display: table-cell;
        }
    }
}

.page_header {
    @include backgroundColor(rgb(244, 68, 250), $debug);
    position: fixed;
    top: $header_top;
    margin: 0 $content_margin;
    width: $content_width;
    height: $header_height;

    .header_row1 {
        height: $header_row1_height;
        width: $logo_width;

        .logo {
            width: $logo_width;
            height: auto;
            display: inline-block;
            margin-top: -13mm;
            margin-left: -3mm;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .company_address {
            margin-left: 6mm;
            display: inline-block;

            p {
                line-height: 1;
                font-size: 0.8em;
            }
        }

        .document_title {
            p {
                text-transform: uppercase;
                font-weight: bold;
                font-size: $font_size_larger;
            }
        }
    }

    .header_row2 {
        height: $header_row2_height;

        .company_data p {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.8em;
        }

    }
}

.content_cell {
    width: math.div($content_width, 2);
    vertical-align: top;
}

.table_report_period {
    @include backgroundColor(rgb(112, 255, 174), $debug);
    width: 50%;
    height: 50mm;
    margin: 0 $content_margin;

        .div_cell {
            width: 50%;
            p {
                text-align: left;
                font-size: $font_size_larger;
            }
        }
        
    }
.table_transactions {
    @include backgroundColor(rgb(112, 167, 255), $debug);
   // width: 100%;
    width: $content_width;
    //height: $content_height;
    margin: 0 $content_margin;
    .table_transactions_header {
        font-weight: bold;
    }

        td {
            @include backgroundColor(rgb(224, 112, 255), $debug);
            //width: 20%;
            p {
                margin-right: 10mm;
                text-align: left;
                font-size: $font_size_larger;
            }
        }
        td:last-child {
            @include backgroundColor(rgb(112, 219, 255), $debug);
            p {
                margin-right: 0;
                text-align: right;
            }
        }
    }

.table_footer {
    @include backgroundColor(rgb(223, 183, 20), $debug);
    width: $content_width;
    margin: 0 $content_margin;
    position: fixed;
    bottom: $footer_position_bottom;
    height: $footer_height_new;
    .table_footer_header {
        color:rgb(102, 170, 223);
        font-weight: bold;
        margin-bottom: 3mm
    }
    
    .table_footer_body {
        color:rgb(18, 72, 144);
    }

    td {
        text-align: left;
        p {
            font-size: $font_size_larger;
            line-height: 1.2;
            margin-right: 1em;
        }
    }
    td:first-child {
        p {
            line-height: 2.2;                
        }
    }
        
    }


.content {
    padding: 1mm;

    p {
        font-size: $font_size_smaller;
        line-height: 1.2;
    }
    .normal {
        font-size: $font_size_normal;
    }
    .normal_with_margin {
        font-size: $font_size_normal;
        margin-top: 2mm;
    }
}

.main_content {
    @include backgroundColor(rgb(97, 224, 203), $debug);
}

.transfer_check {
    @include backgroundColor(rgb(223, 111, 20), $debug);
}

@media print {
    #page1 {
        page-break-after: always;
    }
    /* Page 2 margin fix */
    #page2 {
        margin-top: 0.1mm;
    }
}
