* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    tr td {
        vertical-align: top;
    }
}
