@use "sass:math";

$debug: false;

$paper_width: 210mm;
$paper_height: 297mm;
$paper_margin: 5mm;

$content_margin: 15mm;
$content_width: 180mm;
$content_height: 124.5mm;

$transfer_check_margin: 0;
$transfer_check_width: 210mm;
$transfer_check_info_column: 20mm;
$transfer_check_column_diff: $transfer_check_width - $transfer_check_info_column;
$transfer_check_columns: math.div($transfer_check_column_diff, 2);

$header_top: 19mm;
$header_height: 60mm;
$header_row1_height: 18mm;
$header_row2_height: $header_height - $header_row1_height;

$logo_width: 30mm;
$banner_width: 180mm;

$font_size_larger: 0.9em;
$font_size_normal: 0.78em;
$font_size_normal-minus: 0.66em;
$font_size_smaller: 0.56em;
$font_size_small-xs: 0.48em;

/* OLDS */
$body_width: $paper_width - (2 * $paper_margin);
$body_height: $paper_height - (2 * $paper_margin);

$header_margin_top: 18mm;
$header_margin_left: 5mm;

$footer_height: 103mm; // 103mm;
$footer_company_info_height: 9mm;
$footer_transfer_form_height: $footer_height - $footer_company_info_height;

$content_start_top: 36mm;

$info_content_side_margin: 15mm;
$info_content_width: $body_width - (2 * $info_content_side_margin);
$info_content_left: 85mm;
$info_content_right: 85mm;
$info_conent_height: 72mm;
