@tailwind base;
@tailwind components;
@tailwind utilities;


.city-popup {
  max-width: 200px;
}

.popup-city-name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.popup-city-status {
  font-size: 12px;
  color: #666;
}

.mapboxgl-popup-content {
  padding: 10px 15px;
  border-radius: 6px;
}

.walker-marker {
  position: absolute;
  z-index: 1000; /* Ensure it's above other elements */
}

.trivia-popup {
  z-index: 10000 !important; /* Ensures it appears above other elements */
}

/* Remove iOS calendar icon so width matches */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}